.main{
  background-color: #000B58;
  width: 40vw;
  color: white;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 5%;
  font-family: Arial, Helvetica, sans-serif;
}
.Header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn{
  width: 150px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: large; 
}
.btn:hover{
  cursor: pointer;
}
.InputWrapper{
  display: flex;
  flex-direction: column;
}
label{
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: large;
  font-weight: 500;
}
.inputForm{
border-radius: 5px;
padding: 15px;
border: none;
margin-top: 4px;
margin-bottom: 10px;
font-size: 16px;
}
.btn-Wrapper{
  display: flex;
  gap: 10px;
}
.Task{
  background-color: white ;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  color: #000B58;
}

@media only screen and (max-width: 450px){
  .main{
    width: 85vw;
  }
}
